{{extend 'layout.html'}}
{{if collection:}}
<div class="row">
{{=DIV(H2('Items in this Collection'), _class=" span12")}}
</div>
 <div class="row">
    <div id="masonry">
{{for item in items:}} 
    {{=DIV(A(DIV(IMG(_src=URL('download', args=item.f_thumb), _alt=item.f_name, _title=item.f_name), H2(item.f_name)), _href=URL('item_details', vars=dict(itemId=item.id))), _class="tile span4")}}
{{pass}}
     </div>
</div>
<div class="row">
<div class="span12">
    {{=HR()}}
    <div class="span6 comment-block">
        {{for post in comments:}}
            <div class="post"><p>
                On {{=post.created_on}} {{=post.created_by.first_name}}
                says <span class="post_body">{{=post.f_comment}}</span>
            </p></div>
        {{pass}}
        {{=LOAD('comments','coll_post.load',ajax=True,args=[collectionId])}}
    </div>
</div>

</div>
{{pass}}
